
nav{
  padding: 20px;
  background: rgb(3, 151, 94);
  background: rgba(3, 151, 94, 0.5);
  font-size: 20px;
  border-radius: 10px;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
}

nav a{
  padding: 5px;
  color: aliceblue;
  margin: 2%;
  text-decoration: none;
  font-size: 100%;

}

nav a:hover{
  background: rgb(226, 99, 40);
  background: rgb(226, 99, 40);
  border-radius: 10%;
  opacity: 50%;
  text-decoration: none;
  padding: 5px;
}

.active{
  background-color: blue;
}




